In [1]:
import pandas as pd
import numpy as np
import sqlite3
from glob import glob
import csv
from tqdm import tqdm

In [2]:
filelist=glob('../data/crud/*')

In [86]:
num=1
con=sqlite3.connect(filelist[num])
cursor=con.cursor()

In [87]:
#2097
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

In [88]:
# tables
cursor.fetchall()

[('inDates',), ('sqlite_sequence',)]

In [89]:
cursor.execute("SELECT sql FROM sqlite_master WHERE tbl_name='inDates'")

In [90]:
# columns
cursor.fetchall()

[('CREATE TABLE inDates(id INTEGER primary key autoincrement, inDate TEXT, game_id INT(11), gamer_id TEXT)',)]

In [91]:
cursor.execute("SELECT * FROM inDates")

In [92]:
# example
cursor.fetchone()

(1,
 '2021-12-02T19:06:46.070000Z',
 1966,
 '2bf3dd341a333f7fb8da4ee18a5dae10ab83f21d59a4d72c8f8cf072ea3471b3')

In [ ]:
# db to csv

In [105]:
filelist=glob('../data/crud/*')
filenum=[int(file.split('/')[-1].split('.')[0]) for file in filelist[1:]]

In [112]:
line_count=[]
for num in tqdm(filenum):
    con=sqlite3.connect(f'../data/crud/{num}.db')
    cursor=con.cursor()
    cursor.execute("SELECT * FROM inDates WHERE game_id=2097")
    
    game_data=[]
    for line in cursor.fetchall():
        temp=[i for i in line[1:]]
        game_data.append(temp)
    line_count.append(len(game_data))
    
    with open(f'../data/crud_csv/db_to_csv_{num}.csv', 'w',newline='')as f:
        write=csv.writer(f)
        write.writerow(['inDate', 'game_id', 'gamer_id'])
        write.writerows(game_data)

100%|██████████| 312/312 [34:52<00:00,  6.71s/it]

In [113]:
sum(line_count)

16016018

In [ ]:
# csv to one file

In [19]:
csv_list=glob('../data/crud_csv_2097/*')

In [23]:
df=pd.read_csv(csv_list[0])
for file in tqdm(csv_list[1:]):
    df2=pd.read_csv(file)
    df=pd.concat([df,df2], axis=0, ignore_index=True)

100%|██████████| 311/311 [03:35<00:00,  1.44it/s]

In [24]:
len(df)

16016018

In [25]:
df.head()

,inDate,game_id,gamer_id
0,2021-12-02T17:57:45.697000Z,2097,01648dcfac6e919f1334e26ba5938fc2bae03ef74eed89...
1,2021-12-02T17:57:45.707000Z,2097,01648dcfac6e919f1334e26ba5938fc2bae03ef74eed89...
2,2021-12-02T17:57:45.949000Z,2097,01648dcfac6e919f1334e26ba5938fc2bae03ef74eed89...
3,2021-12-02T17:57:45.960000Z,2097,01648dcfac6e919f1334e26ba5938fc2bae03ef74eed89...
4,2021-12-02T17:57:45.967000Z,2097,01648dcfac6e919f1334e26ba5938fc2bae03ef74eed89...

In [26]:
df.to_csv('../data/game_2097_crud_data.csv', index=False)